{% extends  "base.html" %}

{% block start %}
    <h1>Home</h1>
    <p>
        this is home page 

    </p>
    <h2>your lucky number is: {{ lucky_number }}</h2>

    <ul>
        {% for vegetable in vegetables %}
        <li>{{vegetable}}</li>
        
        {% endfor%}
    </ul>
    <hr>

    {%if person_age >= 18 %}
    <h1>you can vote</h1>
    {%else%}
    <h1>you can not vote</h1>
    {% endif %}

    <hr>

    <h3>City information</h3>
    <p>S.no | Name | Population | Country </p>
    {% for city in cities%}
    <p>{{forloop.counter}} | {{city.Name}} | {{city.Population}} | {{city.Country}} </p>
    {%endfor%}

    <hr>
    <a href="{% url 'contact' %}">Contact</a> |
    <!-- <a href="/about">About</a> -->
    <a href="{% url 'about' %}">About</a>

    
{% endblock %}